/* NO TABLE CSS*/
div.img {
 margin:2px;
 height:auto;
 width:auto;
 float:left;
 text-align:center;
}
div.img img {
 display:inline;
}
div#home div {
 display:inline;
 margin:2px;
 text-align:center;
}
div.desc {
 text-align:center;
 font-weight:normal;
}
/* NO TABLE CSS*/

div#highlight a {
	display: block;
	border-radius: 9px;
	text-decoration: none;
	color: #448;
} 
div#highlight a:hover { 
  -webkit-transition: 0.9s ease-in-out;
	background-color: #DDE;
  color: #000;
}
div#highlighttext a {
	text-decoration: none;
	color: #448;
} 
div#highlighttext a:hover {
  -webkit-transition: 0.9s ease-in-out;
	background-color: #DDE;
	color: #000;
}
div#everyother ul:hover {
  -webkit-transition: 2s ease-in-out;
	background-color: #DDE;	
}
div#everyother p {
 margin-left:20px;
 margin-right:20px;
 margin-top:0px;
 margin-bottom:0px;
}
div#everyother p:hover {
  -webkit-transition: 2s ease-in-out;
	background-color: #DDE;	
}
div#remotebg div {
 display: block;
 background-color: #666;	
}
div#tableHome div {
 width:10%;
 height:100%;
 float:left;
}
div#tableRest div {
 width:88%;
 height:100%;
 float:right;
}
body {
 font-family:helvetica, arial, sans-serif;
 font-size:100%;
 margin:40px;
}
table {
 display: table;
 border-collapse: separate;
 border-spacing: 2px;
 padding: 0 0 0 0;
}
table.center {
margin-left:auto; 
margin-right:auto;
}
tr {
vertical-align:text-top;
}
#iconPads  img{
 padding: 10px 20px 10px 20px;
}
#iconSize img{
 height:64px;
 width:64px;
padding: 10px 20px 10px 20px;
}
img.displayed {
 display: block;
 margin-left: auto;
 margin-right: auto; 
}
p.displayed {
 text-align:center;
 margin: 0px;
}
iframe {
 display: block;
 margin-left: auto;
 margin-right: auto; 
 width: 99.5%;
 height: 100%;
 overflow: auto;
 border: 0px;
}

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #A9A9A9;
 font: bold 14px Verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #A9A9A9;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 -webkit-transition: 0.9s ease-in-out;
 color: #000;
 background: #AAE;
 border-color: #227;
}

ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 -webkit-transition: 0.9s ease-in-out;
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:0px;
 border:1px solid #aaa;
 border-top:0;
 height:410px;
 overflow:auto;
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
 padding:5px;
 border:1px solid #aaa;
 border-top:0;
 height:350px;
 overflow:auto;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
}
